h2 {
  color: rgb(53, 53, 109);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
}

#syntax {
  font-style: italic;
  font-size: 25px;
}

.description {
  background-color: rgb(103, 200, 233);
  font-size: 20px;
}

.color-white {
  color: whitesmoke;
}

.common {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-style: italic;
}

.bg {
  background-color: lightseagreen;
  color: white;
}

.highlight {
  color: maroon;
}

.basic-selectors h2 {
  font-family: cursive;
  font-size: 50px;
}

.basic-selectors p .highlight {
  color: red;
}

.combinator > span {
  border: 2px solid brown;
}

.combinator + img {
  border: 2px solid red;
}

.basic-selectors ~ a {
  border: 1px solid navy;
}
